.header {
    background: #cccccc68;
    padding: 0.05rem 3rem 0.05rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width: 70px;
    padding: 0.5rem;
    cursor: pointer;
}

@media only screen and (max-width:688px) {
    .header {
        padding: 0.05rem 1rem 0.05rem 1rem;

    }
}